
#dontsueme{
    color: black
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


.wip-container {
    display: flex;
    flex-direction: column-reverse;
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;

}

.wip-box{
    background-color: beige;
    width: fit-content;
    padding: 40px;           
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    filter: drop-shadow(0px 15px 4px #a9a8a7);
    z-index: 1000;
}


.container {
  display: flex;
  width: 100vw;
  height: 100vh;;
}


.side,
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}


.side {
  flex: 0.5; 
  background-color: #F2F0EF;
}


.center {
  flex: 2; 
  background-color: beige; 
  filter: drop-shadow(0px 15px 4px #a9a8a7);
  display: flex;
  flex-direction: column;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons #daily button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.buttons #random button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}





